@import url('https://fonts.googleapis.com/css2?family=Abel:wght@200;300;400;600;800&display=swap');

* {
  font-family: 'Abel', sans-serif;
}

:root {
  --bs-btn-bg: #3fe7ec;
  --bs-btn-hover-bg: #3fe7ec;
}

footer {
  background-color: #249ca0;
  margin-top: 6rem;
}

.btn-success {
  --bs-btn-bg: #1c6568;
  --bs-btn-border-color: #1c6568;
}

.btn-success:hover {
  --bs-btn-hover-bg: #289497;
  --bs-btn-hover-border-color: #289497;
}
